<section id="about-us">
    <div class="container gap">
        <div class="abt-all">
            <div class="abt-t-p-div">
                <h2 class="abt-h">About Us</h2>
                <ul class="abt-ul">
                    <li>
                        <p class="abt-p">
                            Welcome to our premium watch collection, where luxury and style
                            meet functionality and precision. Our selection of timepieces
                            embodies the very best in Swiss craftsmanship and engineering,
                            ensuring that you'll always have a reliable and stylish accessory
                            on your wrist.
                        </p>
                    </li>
                    <li>
                        <p class="abt-p">
                            At our premium watch collection, we believe that a watch is more
                            than just a timekeeping device - it's a statement piece that
                            reflects your personality and style. So why settle for anything
                            less than the best?
                        </p>
                    </li>
                </ul>
                <div class="abt-btn">
                    <a href="#catalog" class="abt-btn-a scroll-to">Viev Catalog</a>
                </div>
            </div>
            <picture class="abt-img">
                <source srcset="
            ./img/abt-us/abt_us_pc.jpg    1x,
            ./img/abt-us/abt_us_pc@2x.jpg 2x
          " media="(min-width: 1280px)" />
                <source srcset="
            ./img/abt-us/abt_us_tablet.jpg    1x,
            ./img/abt-us/abt_us_tablet@2x.jpg 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./img/abt-us/abt_us_mob.jpg    1x,
            ./img/abt-us/abt_us_mob@2x.jpg 2x
          " media="(max-width: 767px)" />
                <img src="./img/abt-us/abt_us_mob.jpg" alt="Super Cool watch" />
            </picture>
        </div>
    </div>
</section>

<!--Во положенню все має відповідати оригіналу, дякую за твою настанову-->