<section class="abt-section">
    <div class="container">
        <div class="abt-t-p-div">
            <h2 class="abt-h">About Us</h2>
            <p class="abt-p">Welcome to our premium watch
                collection, where luxury and style meet functionality and precision. Our selection of timepieces
                embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a
                reliable and stylish accessory on your wrist.</p>
            <p class="abt-p">At our premium watch
                collection, we believe that a watch is more than just a timekeeping device - it's a statement piece
                that reflects your personality and style. So why settle for anything less than the best?</p>
        <a href="./index.html#catalog" class="abt-btn-a">
            <button type="button" class="abt-btn" href="./index.html#catalog">Viev Catalog
            </button>
        </a>
    </div>
        <picture>
            <source media="(min-width:768px)" srcset="./img/abt-us/about_us_tablet.jpg">
            <source media="(min-width:1024px)" srcset="./img/abt-us/about_us.jpg">
            <img class="abt-img" src="./img/abt-us/about_us_phone.jpg" alt="Watch" style="width:auto;">
        </picture>
    </div>
</section>
