<section>
  <section class="section-catalog">
    <div class="container">
      <h2 class="section-catalog-title">Catalog</h2>
      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_1.webp    1x,
              ./img/catalog/img_catalog_1@2x.webp 2x
            "
            src="./img/catalog/img_catalog_1.webp"
            alt="Garmin Fenix 7X Pro Sapphire Solar "
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-price">€500</p>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_2.webp    1x,
              ./img/catalog/img_catalog_2@2x.webp 2x
            "
            src="./img/catalog/img_catalog_2.webp"
            alt="Garmin Marq Athlete"
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">Garmin Marq Athlete</h3>
            <p class="catalog-price">€450</p>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_3.webp    1x,
              ./img/catalog/img_catalog_3@2x.webp 2x
            "
            src="./img/catalog/img_catalog_3.webp"
            alt="Garmin Descent MK1"
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">Garmin Descent MK1</h3>
            <p class="catalog-price">€680</p>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_4.webp    1x,
              ./img/catalog/img_catalog_4@2x.webp 2x
            "
            src="./img/catalog/img_catalog_4.webp"
            alt="Garmin D2 Delta PX"
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">Garmin D2 Delta PX</h3>
            <p class="catalog-price">€380</p>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_5.webp    1x,
              ./img/catalog/img_catalog_5@2x.webp 2x
            "
            src="./img/catalog/img_catalog_5.webp"
            alt="Garmin Fenix 6 Pro Solar"
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-price">€400</p>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            srcset="
              ./img/catalog/img_catalog_6.webp    1x,
              ./img/catalog/img_catalog_6@2x.webp 2x
            "
            src="./img/catalog/img_catalog_6.webp"
            v
            alt="Tube Watch S42 Date Steel With Black Case"
            width="292"
            height="292"
          />
          <div class="catalog-description">
            <h3 class="catalog-product">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-price">€395</p>
          </div>
        </li>
      </ul>
      <button class="catalog-button-mobile" type="button">Show more</button>
    </div>
  </section>
</section>
