<div class="page-footer">
  <div class="container">
    <div class="box-position">
      <div>
        <a class="page-logo-footer" href="index.html">watchcharm</a>
        <ul class="mobile-icon-list">
          <li class="icon-footer">
            <a
              class="icon-footer-list"
              href="https://www.facebook.com/goITclub/ "
              target="_blank"
            >
              <svg class="social-icon" width="18" height="18">
                <use href="icon/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a
              class="icon-footer-list"
              href=" https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="social-icon" width="18" height="18">
                <use href="icon/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a
              class="icon-footer-list"
              href="https://www.youtube.com/c/GoIT "
              target="_blank"
            >
              <svg class="social-icon" width="18" height="18">
                <use href="icon/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="tel-footer-box">
        <a class="tel-footer" href="#">+380 (68) 443-94-26</a>
      </div>
    </div>
    <div class="text-footer-box">
      <h3 class="text-footer">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h3>
    </div>
    <div class="text-nav-box">
      <div class="nav-box">
        <u class="footer-item-list">
          <li class="nav-footer-list">
            <a href="/index.html">Home</a>
          </li>
          <li class="nav-footer-list">
            <a class="footer-about" href="#About-Us"> About Us </a>
          </li>
          <li class="nav-footer-list">
            <a href="#Catalog">Catalog</a>
          </li>
          <li class="nav-footer-list">
            <a href="#Sale">Sale</a>
          </li>
          <li class="nav-footer-list">
            <a href="#Reviews">Reviews</a>
          </li>
          <li class="nav-footer-list">
            <a class="footer-about" href="#Contact-Us"> Contact Us </a>
          </li>
        </u>
      </div>
      <p class="nav-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <div class="footer-item">
      <span class="underline"></span>
      <span class="footer-watch">
        ©2023 The Watch Spot. All rights reserved.
      </span>
      <span class="service-footer">
        <a class="privacy-footer" href="#">Terms of Service</a>
      </span>
      <a class="privacy-footer" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
