<div id="footer" class="footer-container">
  <div class="footer-page">
    <div class="footer-position-box">
      <div>
        <a class="footer-page-logo" href="./index.html">watchcharm</a>
        <ul class="footer-icon-list">
          <li class="footer-icon-item">
            <a class="footer-icon-link" href="https://www.facebook.com/goITclub/ " target="_blank">
              <svg class="footer-icon-social" width="20" height="20">
                <use href="./icon/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-link" href=" https://www.instagram.com/goitclub/" target="_blank">
              <svg class="footer-icon-social" width="20" height="20">
                <use href="./icon/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon-item">
            <a class="footer-icon-link" href="https://www.youtube.com/c/GoIT " target="_blank">
              <svg class="footer-icon-social" width="20" height="20">
                <use href="./icon/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-tel-box">
        <a class="footer-tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </div>
    </div>
    <div class="footer-text-box">
      <p class="footer-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="scroll-to" href="#up">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-about scroll-to" href="#about-us"> About Us </a>
        </li>
        <li class="footer-nav-item">
          <a class="scroll-to" href="#catalog">Catalog</a>
        </li>
        <li class="footer-nav-item">
          <a class="scroll-to" href="#sale">Sale</a>
        </li>
        <li class="footer-nav-item">
          <a class="scroll-to" href="#reviews">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-about scroll-to" href="#contact-us"> Contact Us </a>
        </li>
      </ul>
      <p class="footer-nav-text">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </p>
    </div>
    <div class="footer-agreement">
      <span class="underline"></span>
      <p class="footer-watch">©2023 The Watch Spot. All rights reserved.</p>
      <span class="footer-service">
        <a class="footer-privacy" href="#">Terms of Service</a>
      </span>
      <a class="footer-privacy" href="#">Privacy Policy</a>
    </div>
  </div>
</div>