<div class="container page-header-container" id="up">
  <div class="header-nav-container">
    <nav class="page-navigation">
      <a class="logo" href="./index.html">watchcharm</a>
      <ul class="menu">
        <li class="menu-item">
          <a class="menu-link home scroll-to" href="./index.html">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link scroll-to" href="#about-us">About Us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link scroll-to" href="#catalog">Catalog</a>
        </li>
        <li class="menu-item">
          <a class="menu-link scroll-to" href="#sale">Sale</a>
        </li>
        <li class="menu-item">
          <a class="menu-link scroll-to" href="#reviews">Reviews</a>
        </li>
        <li class="menu-item">
          <a class="menu-link scroll-to" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button class="menu-open-btn" type="button">
      <svg class="menu-open-btn-icon" width="28" height="14" aria-label="mobile menu open icon">
        <use href="/img/header/sprite/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="header-link-menu">
    <ul class="header-icon-list">
      <li class="header-icon-list-item">
        <a class="header-social-link" href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="header-social-link-icon" width="20" height="20" aria-label="facebook icon">
            <use href="/img/header/sprite/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-list-item">
        <a class="header-social-link" href=" https://www.instagram.com/goitclub/" target="_blank">
          <svg class="header-social-link-icon" width="20" height="20" aria-label="instagram icon">
            <use href="/img/header/sprite/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-list-item">
        <a class="header-social-link" href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="header-social-link-icon" width="20" height="20" aria-label="youtube icon">
            <use href="/img/header/sprite/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Mobile menu -->
<div class="mobile-menu">
  <div class="mobile-close-btn-container">
    <button class="mobile-menu-close-btn" type="button">
      <svg class="mobile-menu-close-btn-icon" width="20" height="20" aria-label="close icon">
        <use href="/img/header/sprite/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-nav-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link mobilehome scroll-to" href="#up">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link scroll-to" href="#about-us">About Us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link scroll-to" href="#catalog">Catalog</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link scroll-to" href="#sale">Sale</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link scroll-to" href="#reviews">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link scroll-to" href="#contact-us">Contact Us</a>
    </li>
  </ul>

  <ul class="mobile-icon-list">
    <li class="mobile-icon-list-item">
      <a class="mobile-social-link" href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="social-link-icon" width="20" height="20">
          <use href="/img/header/sprite/icons.svg#icon-facebook_mob"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-icon-list-item">
      <a class="mobile-social-link" href=" https://www.instagram.com/goitclub/" target="_blank">
        <svg class="social-link-icon" width="20" height="20">
          <use href="/img/header/sprite/icons.svg#icon-instagram_mob"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-icon-list-item">
      <a class="mobile-social-link" href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg class="social-link-icon" width="20" height="20">
          <use href="/img/header/sprite/icons.svg#icon-youtube_mob"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>