<section>
  <div class="container">
    <div class="hero-container">
      <div class="hero-text">
        <h1 class="hero-title">
          Welcome to our <span class="color">collection</span> of premium
          watches
        </h1>
        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-middle">
        <ul class="hero-team-list">
          <li class="hero-team-img-one">
            <picture>
              <source srcset="
                  ./img/hero/hero_team_desktop.jpg    1x,
                  ./img/hero/hero_team_desktop@2x.jpg 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  ./img/hero/hero_team_tablet1.jpg    1x,
                  ./img/hero/hero_team_tablet1@2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./img/hero/hero_team_1.jpg    1x,
                  ./img/hero/hero_team_1@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="hero-team-img" src="./img/hero/hero_team_1.jpg" alt="Anastasia Trachuk" />
            </picture>
          </li>
          <li class="hero-team-img-two">
            <picture>
              <source srcset="
                  ./img/hero/hero_team_desktop2.jpg    1x,
                  ./img/hero/hero_team_desktop2@2x.jpg 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  ./img/hero/hero_team_tablet2.jpg    1x,
                  ./img/hero/hero_team_tablet2@2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./img/hero/hero_team_2.jpg    1x,
                  ./img/hero/hero_team_2@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="hero-team-img" src="./img/hero_team_2.jpg" alt="John Wax" />
            </picture>
          </li>
          <li class="hero-team-img-three">
            <picture>
              <source srcset="
                  ./img/hero/hero_team_desktop3.jpg    1x,
                  ./img/hero/hero_team_desktop3@2x.jpg 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  ./img/hero/hero_team_tablet3.jpg    1x,
                  ./img/hero/hero_team_tablet3@2x.jpg 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  ./img/hero/hero_team_3.jpg    1x,
                  ./img/hero/hero_team_3@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img class="hero-team-img" src="./img/hero/hero_team_3.jpg" alt="Victoria Romashenko" />
            </picture>
          </li>
        </ul>
        <a class="scroll-link scroll-to" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source srcset="
          ./img/hero/hero_watch_desktop.jpg    1x,
          ./img/hero/hero_watch_desktop@2x.jpg 2x
        " media="(min-width: 1280px)" />
      <source srcset="
          ./img/hero/hero_watch_tablet.jpg    1x,
          ./img/hero/hero_watch_tablet@2x.jpg 2x
        " media="(min-width: 768px)" />
      <source srcset="./img/hero/hero_watch.jpg 1x, ./img/hero/hero_watch@2x.jpg 2x" media="(max-width: 767px)" />

      <img class="hero-watch-img" src="./img/hero/hero_watch.jpg" alt="watch on a grey background" />
    </picture>
  </div>
</section>