.abt-section {
    min-width: 375px;
    min-height: 912px;
    margin-bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abt-t-p-div {
    background-color: #F3F3F3;
    min-width: 335px;
    min-height: 446px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 20px 20px;
}

.abt-h {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 28px;
    margin-top: 40px;
}

.abt-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.abt-btn {
    width: 160px;
    height: 48px;
    border-radius: 16px;
    background-color: #3350E9;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
}

.abt-img {
    border-radius: 30px;
    min-width: 335px;
    min-height: 446px;
    color: (12, 12, 12, 0.2);
}

@media screen and (min-width: 768px) {
    .abt-section {
        padding: 0px 32px;
        min-width: 768px;
        min-height: 1064px;
        margin-bottom: 80px;
    }

    .abt-t-p-div {
        background-color: #F3F3F3;
        border-radius: 50px;
        min-width: 704px;
        min-height: 512px;
        padding: 60px 60px;
        margin-bottom: 60px;
    }

    .abt-h {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 48px;
        line-height: 92%;
        letter-spacing: -0.02em;
        color: var(--main);
        margin-bottom: 40px;
        margin-top: 0;
    }

    .abt-p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        margin-bottom: 20px;
    }

    .abt-btn {
        border-radius: 16px;
        min-width: 160px;
        min-height: 48px;
        text-align: center;
        cursor: pointer;
        border: none;
        background-color: #3350E9;
        color: #ffffff;
        margin-top: 60px;
    }

    .abt-img {
        border-radius: 50px;
        min-width: 704px;
        min-height: 512px;
    }

}

@media screen and (min-width: 1280px) {
    .abt-section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 65px;
        gap: 40px;
        margin-bottom: 100px;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0 0;
        align-items: center;
        padding: 0 0;
    }

    .abt-t-p-div {
        background-color: #F3F3F3;
        margin-bottom: 0;
        border-radius: 50px;
        padding: 80px 60px;
        min-width: 580px;
        height: 532px;
    }

    .abt-h {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: var(--main);
    }

    .abt-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    }

    .abt-btn {
        min-width: 160px;
        min-height: 48px;
        text-align: center;
        cursor: pointer;
        border: none;
        background-color: #3350E9;
        color: #ffffff;
        border-radius: 16px;
       
    }

    .abt-img {
        border-radius: 50px;
        min-height: 532px;
    }
}