

.advertisement {
    border-radius: 30px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0c0c0c;
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/../src/img/advertisement/advertisement_img_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 28px;
}

.advertisement-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    min-width: 279px;
    margin-bottom: 28px;
}

.advertisement-title-extra-color {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    width: 160px;
    height: 48px;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    background: none;
}

.advertisement-btn:hover,
.advertisement-btn:focus {
    color: #0c0c0c;
    background-color: #fbfbfb;
}


@media only screen and (min-resolution: 192dpi) and (max-width: 374px) {
    .advertisement {
        min-width: 320px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
            url(/../src/img/advertisement/advertisement_img_mobile@2x.jpg);
    }
}


@media only screen and (min-width:768px) {
    .advertisement {
        min-width: 768px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/../src/img/advertisement/advertisement_img_tablet.jpg);
        padding: 80px 64px;
    }

    .advertisement-title {
        max-width: 576px;
        font-size: 48px;
        margin-bottom: 32px;
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .advertisement {
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/../src/img/advertisement/advertisement_img_tablet@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .advertisement {
        min-width: 1158px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/../src/img/advertisement/advertisement_img_desktop.jpg);
        padding: 83px 80px;
        display: flex;
        justify-content: space-between;
        gap: 140px;
    }

    .advertisement-title {
        max-width: 690px;
    }
}


@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .advertisement {
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/../src/img/advertisement/advertisement_img_desktop@2x.jpg);
    }
}

