/* ===Catalog section styles=== */
.section-catalog {
  margin-top: 60px;
}
.section-catalog-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-item {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 28px;
}

.catalog-img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 28px;
}
.catalog-description {
  padding-top: 10px;
}
.catalog-product {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  min-width: 280px;
}
.catalog-price {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  padding-top: 8px;
}
@media only screen and (max-width: 767px) {
  .catalog-item:nth-child(n + 5) {
    display: none;
  }
  .catalog-button-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 16px;
    border: none;
    width: 160px;
    height: 48px;
    background-color: #3350e9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .catalog-button-mobile:hover,
  .catalog-button-mobile:focus {
    background-color: #1f3cd4;
  }
}
@media only screen and (min-width: 768px) {
  .section-catalog {
    margin-top: 80px;
  }
  .section-catalog-title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .catalog-list {
    gap: 32px 16px;
  }
  .catalog-item {
    width: calc((100% - 16px) / 2);
  }
  .catalog-img {
    padding-top: 34px;
    padding-bottom: 20px;
  }
  .catalog-button-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .section-catalog {
    margin-top: 100px;
  }
  .catalog-list {
    gap: 32px 23px;
  }
  .catalog-item {
    width: calc((100% - 46px) / 3);
  }
  .catalog-img {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

/* ===/Catalog section styles=== */
