/* =====Footer styles===== */

.page-footer {
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
    max-width: 335px;
    background: #0c0c0c;
    margin-top: 30px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.page-logo-footer {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.mobile-icon-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-footer-list:hover,
.icon-footer-list:focus {
    background: #ff0000;
}

#icon {
    color: #0c0c0c;
}

.text-footer {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.tel-footer-box {
    min-width: 152px;
    height: 44px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    margin-top: 20px;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}

.tel-footer {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}


.text-footer-box {
    max-width: 279px;
    height: 96px;
    margin-top: 40px;
}


.text-nav-box {
    display: flex;
    margin-top: 92px;
}

.nav-box {
    width: 205px;

}

.footer-about {
    white-space: nowrap;
}

.nav-footer-list {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
}

.nav-footer-list-color {
    color: #fbfbfb;
}

.nav-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    width: 74px;
}

.underline {
    display: block;
    width: 100%;
    height: 1px;
    stroke-width: 1px;
    background-color: rgba(251, 251, 251, 0.1);
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer-watch {
    display: block;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.service-footer {
    margin-right: 20px;
}

.privacy-footer {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: right;
    color: rgba(251, 251, 251, 0.5);
    margin-top: 8px;
}



@media screen and (min-width: 768px) {}



@media screen and (min-width: 1280px) {}

/* =====Footer styles===== */