.menu-item,
.header-link-menu {
  display: none;
}
.page-header-container {
  position: relative;
  padding: 20px;
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.menu-open-btn-icon {
  stroke-width: 2.5px;
  stroke: #0c0c0c;
}
.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .page-header-container {
    padding: 26px 36px;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
  }
  .menu-open-btn {
    display: none;
  }
  .logo {
    margin-right: 203px;
  }
  .menu,
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-left: 0;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
  }
  .menu-item {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu-link {
    padding-bottom: 10px;
  }
  .home {
    position: relative;
    background-color: transparent;
  }
  .home::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    bottom: -1px;
    display: flex;
    width: 8px;
    height: 8px;
    left: 50%;
    background-color: #3350e9;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link-menu {
    display: flex;
    justify-content: space-between;
  }
  .header-icon-list {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 8px;
    fill: none;
    background-color: transparent;
    opacity: 0.8;
    transition: fill, stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-social-link-icon {
    stroke: #0c0c0c;
    border: 1px solid rgba(12, 12, 12, 0.1);
  }
  .header-social-link:hover,
  .header-social-link:focus {
    stroke: #3350e9;
  }
}

/* ========Mobile menu============ */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url(../img/header/mobile_menu/mobile_menu_mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: #fbfbfb;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}
.container-mobile-menu-container {
  display: flex;
  justify-content: center;
  padding: 240px 64px 260px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  stroke-width: 2.5px;
  fill: #fbfbfb;
  padding: 0;
  line-height: 0;
}
.mobile-menu-close-icon {
  fill: #fbfbfb;
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  min-width: 73px;
}
.mobile-menu-item,
.mobile-menu-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #f4f4fd;
}
.mobile-menu-item:last-child {
  margin-bottom: 0;
}
.mobile-menu-link {
  position: relative;
}
.mobilehome {
  padding-bottom: 12px;
}
.mobilehome::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  bottom: -1px;
  display: flex;
  width: 8px;
  height: 8px;
  left: 50%;
  background-color: #3350e9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}
.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  height: 100%;
  fill: none;
  background-color: transparent;
  transition: stoke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  stroke: #f4f4f4;
}
.mobile-social-link:hover,
.mobile-social-link:focus {
  stroke: #f4f4f4;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .mobile-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/header/mobile_menu/mobile_menu_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/header/mobile_menu/mobile_menu_tabl.jpg);
    width: 330px;
  }
  .container-mobile-menu-container {
    padding: 310px 64px 350px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .mobile-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/header/mobile_menu/mobile_menu_tabl@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
