.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
